/* only panding page css */


/* Default height for small devices */
#intro-example {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }


  :root {
    --color-primary: #38006C;
    --color-secondary: #6B7FD7;
    --color-white: #F8F7FF;
    --color-dark: #0E0004;
}

body{
  background: linear-gradient(142deg, rgba(196,235,255,1) 0%, rgba(241,235,255,1) 99%) !important;

}


@media screen and (max-width:900px){
  .btn{
    padding: 4px 8px;
    font-size: 16px;
    text-wrap: nowrap;
  }
  .row>*{
    text-align: center;
  }
  .text-end{
    text-align: center !important;
  }
  .lead{
    font-size: 16px;
  }
  .py-5{
    padding: 1.5rem 0 !important; 
  }
}

